; The syntax of this config file is simple. To add new function, it's enough to specify
; each argument of the function, function name itself and return type separated by commas.
; Example: int strcmp (char *, char *) -> int,strcmp,char *,char *
; NOTE: the syntax is not space sensitive.
int,strcmp, char*, char*
int,wcscmp,wchar*,wchar*
int,printf,char *
int,puts,char *
